[Unit]
Description=DandyBouquet Website Production
 
[Container]
ContainerName=website-production
Image=website
AutoUpdate=local
 
HealthCmd=curl http://127.0.0.1:80
PublishPort=80:80
PublishPort=443:443
Volume=/etc/letsencrypt/live/www.dandybouquet.com/fullchain.pem:/docker-volumes/etc/letsencrypt/live/www.dandybouquet.com/fullchain.pem
Volume=/etc/letsencrypt/live/www.dandybouquet.com/privkey.pem:/docker-volumes/etc/letsencrypt/live/www.dandybouquet.com/privkey.pem

[Service]
Restart=always
TimeoutStartSec=300
 
[Install]
WantedBy=default.target
